# Ovo su novije verzije na 10.08.2024.
# Ali nije testirano. Valjda radi sve skupa. Pokazat će se u korištenju radi li.
coverage==7.6.1
flake8==7.1.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.15.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
Flask-WTF==1.2.1
psycopg2-binary==2.9.9
Werkzeug==3.0.3
